{% extends "layouts/main.html" %}

{% block title %}
{{ titulo_pagina }}
{% endblock %}

{% block content %}
<div class="ui vertical center aligned segment" ng-app="mainApp" ng-controller="mainCtrl">

    <div class="ui container">
        <div class="ui large secondary pointing menu">
            <a class="toc item">
                <i class="sidebar icon"></i> MVC Teste em PHP - Cadastro de Produtos
            </a>
        </div>
    </div>

    <div class="ui container">
        <h1 class="ui header"></h1>
        <div class="ui info message invisivel" id="msg_http">
            <p>{{ '{{ mensagem_http }}' }}</p>
        </div><br>
            <h4 class="ui dividing header">Lista de Produtos</h4>

            <table class="ui very basic table">
                <thead>
                    <tr>
                        <th class="right aligned one wide column">ID</th>
                        <th>Nome</th>
                        <th class="four wide column">Tipo</th>
                        <th class="right aligned three wide column">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in itens">
                        <td class="right aligned">{{ '{{item.id}}' }}</td>
                        <td>{{ '{{item.nome}}' }}</td>
                        <td>{{ '{{item.tipo}}' }}</td>
                        <td class="right aligned">
                            <div class="mini ui yellow button" ng-click="editar(item)">Editar</div>
                            <div class="mini ui red button" ng-click="excluir(item)">Excluir</div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="ui grid">
                <div class="eight column row">
                    <div class="right floated column">
                        <div class="ui fluid inverted blue button" ng-click="novo()">Novo</div>
                    </div>
                </div>
            </div><br><br>
    </div>

    <div class="ui container">
        <h1 class="ui header"></h1>
        <div class="ui form">
            <h4 class="ui dividing header">Dados do Produto</h4><br>
            <div class="two fields">
                <div class="field">
                    <label>Nome do Produto</label>
                    <div class="ui fluid right labeled left icon input" required>
                        <i class="circular inverted shop icon"></i>
                        <input type="text" hidden name="id" ng-model="item.id">
                        <input type="text" name="nome" id="nome" placeholder="Ex.: Coca-cola" ng-model="item.nome">
                        <div class="ui corner label">
                            <i class="asterisk icon"></i>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Tipo de Produto</label>
                    <div class="ui fluid right labeled left icon input" required>
                        <i class="circular inverted table icon"></i>
                        <input type="text" name="tipo" id="tipo" placeholder="Ex.: Refrigerante" ng-model="item.tipo">
                        <div class="ui corner label">
                            <i class="asterisk icon"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui grid">
                <div class="six column row">
                    <div class="right floated column">
                        <div class="ui fluid positive button" ng-click="salvar()">Salvar</div>
                    </div>
                </div>
            </div><br><br>
        </div>
    </div>
</div>
{% endblock %}

{% block js_especifico %}
<script src="/js/produtos.js"></script>
{% endblock %}